torch
pynput
psycopg2-binary
SQLAlchemy
pydantic_settings
pyautogui
matplotlib
numpy
pyqtgraph 
PySide6
PyQt6
keyboard

fastapi
uvicorn
scipy
numba
QMacroDetector @ git+https://github.com/qqqqaqaqaqq/mouseMacroLibrary.git